version: "3.9"

services:
  api:
    build: .
    container_name: healthcare-api
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - db
    command: npm run start:dev

  db:
    container_name: healthcare-db
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

